<%provide(:title,'Recent Bets')%>
<h1>Recent Bets</h1>
<p>
  <div class = "container container-width">
  <div class="row row-centered">
    <div class ="center col-md-6" >
      <div class = "jumbotron red-jumbo">
        Я прыгну с пваваарашютом если наберу 1400 лайков
      </div>
    </div>
    <div class ="center col-md-6">
      <div class = "jumbotron purple-jumbo">
        Я прыгну с пваваарашютом если наберу 1400 лайков
      </div>
    </div>
  </div>
    <div class="row row-centered">
      <div class ="center col-md-6">
        <div class = "jumbotron green-jumbo">
          Я прыгну с пваваарашютом если наберу <b> 1400 лайков </b>
        </div>
      </div>
      <div class ="center col-md-6">
        <div class = "jumbotron blue-jumbo">
          Я прыгну с пваваарашютом если наберу 1400 лайков
        </div>
      </div>
    </div>
  </div>


</p>