<%provide(:title,'Recent Bets')%>
<h1>Recent Bets</h1>
<p>
  <div class = "container container-width cont-paddings-small">
  <div class="row row-centered">
    <div class ="center col-md-6 col-sm-6 col-paddings-small" >

      <div class = "jumbotron red-jumbo jumbo-bet">

        <div class = "row">
        Я прыгну с парашютом если наберу
        </div>

        <div class = "row like-bar-row">
          <div class = "container like-bar">
            1.5k Лайков
          </div>
        </div>
      </div>
    </div>

    <div class ="center col-md-6 col-sm-6 col-paddings-small">
      <div class = "jumbotron purple-jumbo jumbo-bet">
        <div class = "row">
          Я прыгну с парашютом если наберу
        </div>

        <div class = "row like-bar-row">
          <div class = "container like-bar">
            1.5k Лайков
          </div>
        </div>
      </div>
    </div>


  </div>
    <div class="row row-centered">
      <div class ="center col-md-6 col-sm-6 col-paddings-small">
        <div class = "jumbotron green-jumbo jumbo-bet">
          <div class = "row">
            Я прыгну с парашютом если наберу
          </div>

          <div class = "row like-bar-row">
            <div class = "container like-bar">
              10k Лайков
            </div>
          </div>
        </div>
      </div>
      <div class ="center col-md-6 col-sm-6 col-paddings-small">
        <div class = "jumbotron blue-jumbo jumbo-bet">
          <div class = "row">
            Я прыгну с парашютом если наберу
          </div>

          <div class = "row like-bar-row">
            <div class = "container like-bar">
              300 Лайков
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</p>