@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

/*body {
  padding-top: 60px;
}*/

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.container-width{
  /* custom width */
  max-width:860px;
}

.row-centered {
  text-align:center;
}
/*randomolgy */
.jumbo-bet {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  height: 200px;
  margin-bottom: 10px;
}
.green-jumbo {
  background-color: lightgreen;

}
.blue-jumbo {
  background-color: lightblue;

}
.red-jumbo {
  background-color: lightcoral;

}
.purple-jumbo {
  background-color: mediumpurple;
}

.col-paddings-small {
  padding-left: 10px;
  padding-right: 10px;
}
.cont-paddings-small {
  padding-left: 5px;
  padding-right: 5px;
}

.like-bar-row {
  margin-top: 30px;
}
.like-bar {
  border-radius: 20px;
  height:40px;
  width: 220px;
  border-width: 2px;
  border-style: solid;
  border-color: whitesmoke;
  background-color: lightskyblue;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:26px;
  color: antiquewhite;
  text-align: center;
  vertical-align:middle;
  ;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}



/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }

}